@font-face {
  font-family: 'Product Sans';
  src: local('Product Sans'), url(./fonts/Product\ Sans\ Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Product Sans';
  font-weight: bold;
  src: local('Product Sans'), url(./fonts/Product\ Sans\ Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Product Sans';
  font-weight: bold;
  font-style: italic;
  src: local('Product Sans'), url(./fonts/Product\ Sans\ Bold\ Italic.ttf) format('truetype')
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  src: local('Product Sans'), url(./fonts/Product\ Sans\ Italic.ttf) format('truetype')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Product Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html * {
  cursor: none !IMPORTANT;
}